body {
  background: #0b132b;
  color: white;
  font-family: Arial;
}

.header {
  padding: 20px;
}

.kpis {
  display: flex;
  gap: 20px;
}

.card {
  background: #1c2541;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
}

.filters {
  margin: 20px;
}

select {
  padding: 10px;
  border-radius: 5px;
}

.charts {
  display: flex;
  gap: 40px;
  padding: 20px;
}
